html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
  /* The image used */
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
color: red !imortant
}
